.login-container {
  display: flex;
  height: 100vh;
  background-image: url("https://th.bing.com/th/id/R.9555e720567cc29f76f18b6f7050e749?rik=3a0Wj%2br%2bgQF7bw&pid=ImgRaw&r=0");
  background-size: cover;
  background-position: center;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-box {
  width: 380px;
  background: #111;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}